body{
    width: 1024px;
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
    border:auto;
}


/* Header */

header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #424242;
    height: 300px;
}

.logo{
    display: flex;
    width:387px;

}
.logo img{
    margin-left: 173px;
    margin-top: 92px;
    margin-bottom: 91px;
}
.form-container{
    display: flex;
    flex-direction: column;
    width: 250px;
}

.form-container p{
    margin-bottom: 7px;
    font-size: 18px;
}
.sec-p{
    margin-top:23px;
}

.form-container input{
    background: rgba(255,255,255,0.18);
    border: 2px solid #FFD366;
    border-radius: 10px;
    max-width: 250px;
    max-height: 40px;
    font-size: 24px;
    padding:4px 16px;
}


#btn{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: #FFD366;
    text-align: center;
    margin: 92px 214px 88px 53px;
    font-size: 24px;
    color: #424242;
    border:none;
    outline: none;
    cursor: pointer;
}

#btn:hover{
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
}

#btn:active{
    opacity: 0.4;
}

/* Result */
.result-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background:#DDDADC;
}

.result-sec h2{
    margin-top: 42px;
    margin-bottom: 36px;
}

.result-sec li{
    width: 624px;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
}

.result-sec li{
    padding-right: 11px;
    margin-bottom: 10px;
}

.result-sec span{
    margin-left: 10px;
}

.rmBtn{
    background: #FFD366;
    color: black;
    font-size: 14px;
    border-radius: 10px;
    max-width: 250px;
    max-height: 40px;
    padding:4px 16px;
    outline: none;
    margin:10px 0;
    cursor: pointer;
}

.rmBtn:hover{
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
}

.rmBtn:active{
    opacity: 0.4;
}


/* Weight Status */

.overWeight{
    float: left;
    background: #FF1200;
    box-shadow: 2px 0 3px 0 rgba(255,17,0,0.29);
    width: 7px;
    height: 62px;
    
}
.fat{
    float: left;
    background: #FF6C02;
    box-shadow: 2px 0 3px 0 rgba(255,108,2,0.29);
    width:7px;
    height: 62px;
    
}
.heavy{
    float: left;
    background: #FF6C02;
    box-shadow: 2px 0 3px 0 rgba(255,108,2,0.29);
    width:7px;
    height: 62px;
    
}
.littleHeavy{
    float: left;
    background: #FF982D;
    box-shadow: 2px 0 3px 0 rgba(255,152,45,0.29);
    width:7px;
    height: 62px;
    
}
.ideal{
    float: left;
    background: #86D73F;
    box-shadow: 2px 0 3px 0 rgba(133,215,63,0.29);
    width:7px;
    height: 62px;
    
}
.skinny{
    float: left;
    background-color: #31BAF9;
    box-shadow: 2px 0 3px 0 rgba(49,186,249,0.29);
    width:7px;
    height: 62px;
    
}





/* Footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFD366;
    height: 90px;
    margin: auto;
}
footer img{
    height: 55px;
    width: 55px;
    
}